<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>About</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='/css/styles.css'>
    <link rel='icon' href='/img/weather.png'>
    <script src='./js/app.js'></script>
</head>
<body>
    <div class="mainContent">
        {{>header}}
        <p>This site was created by Erik Matevosyan. It uses mapbox and weatherstack apis to pull all this data.</p>
        <img class="portrait" src='./img/IMG_5874.jpeg'>    
    </div>
    
    {{>footer}}
</body>
</html>